<ol class="breadcrumb">
    <li><a ui-sref="app.welcome">首页</a></li>
    <li class="active">话题列表</li>
</ol>

<div class="row form-group">
    <div class="col-sm-12">
        <a class="btn btn-success" ui-sref="app.topic-create">新增</a>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group" ng-repeat="filterGroup in filterGroups">
        <label class="control-label col-sm-1">{{filterGroup.groupText}}</label>
        <div class="col-sm-11" ng-if="filterGroup.multiSelect">
            <div class="checkbox checkbox-inline icheck-success" ng-repeat="filter in filterGroup.filters">
                <input type="checkbox" id="{{filterGroup.groupKey}}_{{filter.filterKey}}" name="{{filterGroup.groupKey}}" ng-model="filter.selected" ng-change="filterChanged()" />
                <label for="{{filterGroup.groupKey}}_{{filter.filterKey}}">{{filter.filterText}}</label>
            </div>
        </div>
        <div class="col-sm-11" ng-if="!filterGroup.multiSelect">
            <div class="radio radio-inline icheck-success" ng-repeat="filter in filterGroup.filters">
                <input type="radio" id="{{filterGroup.groupKey}}_{{filter.filterKey}}" name="{{filterGroup.groupKey}}" ng-value="filter.filterKey" ng-model="filterGroup.filterKey" ng-change="filterChanged()" />
                <label for="{{filterGroup.groupKey}}_{{filter.filterKey}}">{{filter.filterText}}</label>
            </div>
        </div>
    </div>
</div>
<div class="form-group" ng-show="loading">
    <div class="col-sm-12">
        <img src="images/loading.gif" />加载中，请稍后...
    </div>
</div>
<table class="table" ng-show="!loading">
    <thead>
        <tr>
            <th>编号</th>
            <th>标题</th>
            <th>分组编号</th>
            <th>分类</th>
            <th>查看</th>
            <th>编辑</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>
                <span ng-repeat="x in item.groupId">{{x.groupName}} </span>
            </td>
            <td>
                <span ng-repeat="x in item.categoryId">{{x.categoryName}} </span>
            </td>
            <td><a ui-sref="app.topic-item({id: item.id})">查看</a></td>
            <td><a ui-sref="app.topic-update({id: item.id})">编辑</a></td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-sm-12">
        <ul uib-pagination
            max-size="8"
            items-per-page="15"
            total-items="totalCount"
            ng-model="currentPage"
            ng-change="pageChanged()"
            class="pagination"
            previous-text="上一页"
            next-text="下一页"
            boundary-link-numbers="true"></ul>
    </div>
</div>
